body {
  /* https://coolors.co/16166b-e3d6c3-f13535 */
  margin-left: 100px;
  margin-right: 100px;
  font-family: Bodoni;
  color: #EBE9E9; /* Platinum */
  background-color: #3581B8/* Steel Blue */
}

header {
  margin: 10px; 
  text-align: center;
}

h2 {
  text-align: center;
}

.center-image {
  text-align: center;
}

.brand-image {
  text-align: center;
}

.center-horizontal {
  text-align: center;
}

.nav-style a:hover {
 text-decoration:none;
 color: #f13535; /*Vermillion*/
}

.nav-style a {
  font-size: 20px;
  text-decoration: none;
  color: #16166B; /*Federal Blue*/
}

.href-intro a:link {
  text-decoration: none;
  color:#EBE9E9; /*Platinum*/
}

.href-intro a:visited {
  text-decoration: none;
  color: #16166B; /*Federal Blue*/
}

.href-intro a:hover {
  text-decoration: underline;
  color: #f13535; /*Vermillion*/
}

.subheading {
	text-align: center;
	font-family: Segoe UI;
}

#font-boxes {	  
  color: #16166B; /*Federal Blue*/
  display: grid;
  grid-template-columns: auto auto;
}

.bodoni {
  text-align: center;
  font-family: Bodoni;
  padding: 40px;
  border: 1px solid #EBE9E9; /*Platinum*/
}

.segoe {
  text-align: center;
  font-family: Segoe UI;
  padding: 40px;
  border: 1px solid #EBE9E9; /*Platinum*/
}

p {
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

footer {
  margin-left: 10px;
  text-align: center;
}

