body {
  /* https://coolors.co/16166b-e3d6c3-e6e6fa */
  margin-left: 100px;
  margin-right: 100px;
  font-family: Bodoni;
  color: #16166B; /* Federal Blue */
  background-color: #E3D6C3 /* Bone */
}

header {
  margin: 10px; 
  text-align: center;
}

h2 {
  text-align: center;
}

.center-image {
  text-align: center;
}

.brand-image {
  text-align: center;
}

.center-horizontal {
  text-align: center;
}

.nav-style a:hover {
 text-decoration:none;
 color: #E6E6FA;/*Lavender*/
}

.nav-style a {
  text-decoration: none;
  color: #16166B; /* Federal Blue */
}

.href-intro a:link {
  text-decoration: none;
  color:#16166B; /* Federal Blue */
}

.href-intro a:visited {
  text-decoration: none;
  color: #E6E6FA; /*Lavender*/
}

.href-intro a:hover {
  text-decoration: underline;
  color:#E6E6FA; /*Lavender*/ 
}

.subheading {
	text-align: center;
	font-family: Segoe UI;
}

#font-boxes {	  
  color: #16166B; /*Federal Blue*/
  display: grid;
  grid-template-columns: auto auto;
}

.bodoni {
  text-align: center;
  font-family: Bodoni;
  padding: 40px;
  border: 1px solid #E6E6FA; /* Lavender */
}

.segoe {
  text-align: center;
  font-family: Segoe UI;
  padding: 40px;
  border: 1px solid #E6E6FA; /* Lavender */
}

p {
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

footer {
  margin-left: 10px;
  text-align: center;
}

